{% extends "ecs_web_task.json.j2" %}
{% block containerDefinitions %}
[
    {{ super() | trim(',') }},
    {
        "name": "log-router",
        "image": "public.ecr.aws/aws-observability/aws-for-fluent-bit:stable",
        "essential": true,
        "firelensConfiguration": {
            "type": "fluentbit"
        },
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-group": "{{ service.instance_name }}",
                "awslogs-region": "{{ environment.collection.region }}",
                "awslogs-stream-prefix": "{{ service.log_stream_prefix('firelens') }}"
            }
        },
        "memoryReservation": 50
    }
]
{% endblock %}
{% block logConfiguration %}
"logConfiguration": {
    "logDriver": "awsfirelens",
    "options": {
        "Name": "cloudwatch",
        "region": "{{ environment.collection.region }}",
        "log_group_name": "{{ service.instance_name }}",
        "log_stream_prefix": "{{ service.log_stream_prefix('web') }}"
    }
}
{% endblock %}