{% extends "base.tf.j2" %}

{% block custom scoped %}
{{ super() }}

resource "aws_ecs_service" "c35a1e45c5-ecs-c-n-one-ent-one-backend" {
  name            = "c35a1e45c5-ecs-c-n-one-ent-one-backend"
  cluster         = "arn:aws:ecs:us-east-1:851725380539:cluster/c22f17077e38-inal-example-ollection-one"
  task_definition = "arn:aws:ecs:us-east-1:851725380539:task-definition/c35a1e45c5-ecs-c-n-one-ent-one-backend:25"
  desired_count   = 1

  enable_execute_command = true

  network_configuration {
    subnets         = ["subnet-0a04e7323bed62164", "subnet-04c28d1668936b65b"]
    security_groups = ["sg-053777a61dadc973c"]
    assign_public_ip = true
  }

  capacity_provider_strategy {
    capacity_provider = "FARGATE"
    weight            = 100
    base              = 1
  }
}

{% endblock custom %}