{% extends "base.tf.j2" %}

{% block service_resources scoped %}
{{ super() }}

resource "aws_ecs_service" "{{ service.instance_name }}" {
  name = "{{ service.instance_name }}" 
  enable_execute_command = true
  task_definition = "${aws_ecs_task_definition.{{ service.instance_name }}.family}"

  lifecycle {
    ignore_changes = [task_definition]
  }
}
{% endblock service_resources %}